In [1]:
pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in /Users/godsonajodo/Library/Python/3.9/lib/python/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Users/godsonajodo/Library/Python/3.9/lib/python/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel("everything_ghg.xlsx")

In [4]:
df.head()

,econ_sector,econ_subsector,sector,subsector,category,sub_category_1,sub_category_2,sub_category_3,sub_category_4,sub_category_5,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022
0,Agriculture,Carbon Dioxide from Fossil Fuel Combustion,Agriculture,Fossil Fuel Combustion,Agriculture,Mobile Non-Highway Farm Equipment,NaN,NaN,NaN,NaN,...,0.021973,0.020588,0.003934,0.004712,0.003303,0.004553,0.003750,0.004008,0.004094,0.004039
1,Agriculture,Carbon Dioxide from Fossil Fuel Combustion,Agriculture,Fossil Fuel Combustion,Agriculture,Mobile Non-Highway Farm Equipment,NaN,NaN,NaN,NaN,...,0.405321,0.340277,0.299993,0.389063,0.319967,0.376200,0.386687,0.345480,0.352673,0.347956
2,Agriculture,Carbon Dioxide from Fossil Fuel Combustion,Agriculture,Fossil Fuel Combustion,Agriculture,Mobile Non-Highway Farm Equipment,NaN,NaN,NaN,NaN,...,1.488775,1.333660,1.203423,1.228332,0.916704,1.130034,1.070653,1.032991,1.052542,1.038465
3,Agriculture,Carbon Dioxide from Fossil Fuel Combustion,Agriculture,Fossil Fuel Combustion,Agriculture,Mobile Non-Highway Farm Equipment,NaN,NaN,NaN,NaN,...,0.582441,0.598184,0.449419,0.566802,0.490579,0.400804,0.437455,0.392028,0.398905,0.393570
4,Agriculture,Carbon Dioxide from Fossil Fuel Combustion,Agriculture,Fossil Fuel Combustion,Agriculture,Mobile Non-Highway Farm Equipment,NaN,NaN,NaN,NaN,...,4.009574,4.711127,4.518359,3.914111,3.825177,3.540273,3.216634,3.076691,3.134478,3.092556

## Processing the Electric Power industry

In [5]:
df['econ_sector'].unique()

array(['Agriculture', 'Industry', 'Commercial', 'Electric Power Industry',
       'LULUCF Sector Net Total', 'Residential', 'Transportation',
       'U.S. Territories'], dtype=object)

In [6]:
df_power = df[df['econ_sector']=='Electric Power Industry']

In [7]:
df_power['subsector'].unique()

array(['Fossil Fuel Combustion', 'Other product manufacture and use',
       'Incineration of Waste', 'Mineral Industry'], dtype=object)

In [8]:
df_power.head()

,econ_sector,econ_subsector,sector,subsector,category,sub_category_1,sub_category_2,sub_category_3,sub_category_4,sub_category_5,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022
5038,Electric Power Industry,Carbon Dioxide from Fossil Fuel Combustion,Energy,Fossil Fuel Combustion,Electricity Generation,NaN,NaN,NaN,NaN,NaN,...,1.799266,1.690387,1.597243,1.491222,1.531734,1.339731,1.290724,1.210769,1.347975,1.418687
5039,Electric Power Industry,Carbon Dioxide from Fossil Fuel Combustion,Energy,Fossil Fuel Combustion,Electricity Generation,NaN,NaN,NaN,NaN,NaN,...,17.980699,18.766907,21.668666,22.482480,20.709844,23.412121,22.743135,21.596648,21.255723,24.750271
5040,Electric Power Industry,Carbon Dioxide from Fossil Fuel Combustion,Energy,Fossil Fuel Combustion,Electricity Generation,NaN,NaN,NaN,NaN,NaN,...,5.071630,3.917970,5.975739,7.343288,6.882659,8.234771,8.624436,7.332320,8.111039,10.270091
5041,Electric Power Industry,Carbon Dioxide from Fossil Fuel Combustion,Energy,Fossil Fuel Combustion,Electricity Generation,NaN,NaN,NaN,NaN,NaN,...,12.087724,11.184688,13.624119,13.969540,12.291224,15.659017,19.420796,21.132277,19.511881,18.438597
5042,Electric Power Industry,Carbon Dioxide from Fossil Fuel Combustion,Energy,Fossil Fuel Combustion,Electricity Generation,NaN,NaN,NaN,NaN,NaN,...,44.946404,45.394964,44.052050,36.381611,32.821647,33.562892,31.030342,33.586423,35.259332,35.303053

In [9]:
df_power.columns

Index(['econ_sector', 'econ_subsector', 'sector', 'subsector', 'category',
       'sub_category_1', 'sub_category_2', 'sub_category_3', 'sub_category_4',
       'sub_category_5', 'carbon_pool', 'fuel1', 'fuel2', 'geo_ref', 'units',
       'ghg', 'ghg_category', 'gwp', 'Y1990', 'Y1991', 'Y1992', 'Y1993',
       'Y1994', 'Y1995', 'Y1996', 'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001',
       'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009',
       'Y2010', 'Y2011', 'Y2012', 'Y2013', 'Y2014', 'Y2015', 'Y2016', 'Y2017',
       'Y2018', 'Y2019', 'Y2020', 'Y2021', 'Y2022'],
      dtype='object')

In [10]:
used_columns = ['geo_ref', 'units', 'ghg_category','Y2000', 'Y2001',
       'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009',
       'Y2010', 'Y2011', 'Y2012', 'Y2013', 'Y2014', 'Y2015', 'Y2016', 'Y2017',
       'Y2018', 'Y2019', 'Y2020', 'Y2021', 'Y2022']

In [11]:
df_power = df_power[used_columns]

In [12]:
df_power.head()

,geo_ref,units,ghg_category,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022
5038,AK,Tg,CO2,1.886156,1.725139,1.692703,1.828449,2.005956,2.088990,2.305279,...,1.799266,1.690387,1.597243,1.491222,1.531734,1.339731,1.290724,1.210769,1.347975,1.418687
5039,AL,Tg,CO2,2.292818,3.776103,6.093362,4.681794,6.351400,5.691288,7.921531,...,17.980699,18.766907,21.668666,22.482480,20.709844,23.412121,22.743135,21.596648,21.255723,24.750271
5040,AR,Tg,CO2,1.866064,1.427203,2.281129,3.078229,2.188287,2.665252,3.864529,...,5.071630,3.917970,5.975739,7.343288,6.882659,8.234771,8.624436,7.332320,8.111039,10.270091
5041,AZ,Tg,CO2,5.152613,6.959445,7.829811,9.078168,12.975025,11.779689,13.398110,...,12.087724,11.184688,13.624119,13.969540,12.291224,15.659017,19.420796,21.132277,19.511881,18.438597
5042,CA,Tg,CO2,48.182003,52.697839,39.265850,38.195994,41.992881,37.506949,42.104930,...,44.946404,45.394964,44.052050,36.381611,32.821647,33.562892,31.030342,33.586423,35.259332,35.303053

In [13]:
df_power.shape

(969, 26)

In [14]:
df_power['ghg_category'].unique()

array(['CO2', 'SF6', 'PFC', 'CH4', 'N2O'], dtype=object)

In [15]:
df_power = df_power[df_power['ghg_category'] == 'CO2']

In [16]:
df_power

,geo_ref,units,ghg_category,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022
5038,AK,Tg,CO2,1.886156,1.725139,1.692703,1.828449,2.005956,2.088990,2.305279,...,1.799266,1.690387,1.597243,1.491222,1.531734,1.339731,1.290724,1.210769,1.347975,1.418687
5039,AL,Tg,CO2,2.292818,3.776103,6.093362,4.681794,6.351400,5.691288,7.921531,...,17.980699,18.766907,21.668666,22.482480,20.709844,23.412121,22.743135,21.596648,21.255723,24.750271
5040,AR,Tg,CO2,1.866064,1.427203,2.281129,3.078229,2.188287,2.665252,3.864529,...,5.071630,3.917970,5.975739,7.343288,6.882659,8.234771,8.624436,7.332320,8.111039,10.270091
5041,AZ,Tg,CO2,5.152613,6.959445,7.829811,9.078168,12.975025,11.779689,13.398110,...,12.087724,11.184688,13.624119,13.969540,12.291224,15.659017,19.420796,21.132277,19.511881,18.438597
5042,CA,Tg,CO2,48.182003,52.697839,39.265850,38.195994,41.992881,37.506949,42.104930,...,44.946404,45.394964,44.052050,36.381611,32.821647,33.562892,31.030342,33.586423,35.259332,35.303053
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5798,VT,Tg,CO2,0.016591,0.017083,0.016875,0.016456,0.016379,0.016489,0.016179,...,0.014311,0.014741,0.013862,0.013934,0.013628,0.013766,0.013355,0.012349,0.012628,0.012786
5799,WA,Tg,CO2,0.013800,0.014205,0.014016,0.013635,0.013538,0.013617,0.013432,...,0.012075,0.012511,0.011874,0.012084,0.011950,0.012174,0.011884,0.011044,0.011291,0.011464
5800,WI,Tg,CO2,0.004219,0.004275,0.004181,0.004048,0.003980,0.003962,0.003854,...,0.003215,0.003281,0.003054,0.003033,0.002926,0.002921,0.002802,0.002561,0.002604,0.002614
5801,WV,Tg,CO2,0.012548,0.012831,0.012610,0.012239,0.012082,0.012069,0.011760,...,0.009946,0.010199,0.009547,0.009560,0.009320,0.009396,0.009091,0.008431,0.008577,0.008676
5802,WY,Tg,CO2,0.001154,0.001174,0.001158,0.001125,0.001115,0.001119,0.001102,...,0.001010,0.001034,0.000971,0.000969,0.000933,0.000937,0.000905,0.000826,0.000845,0.000856

In [17]:
df_power.shape

(495, 26)

In [18]:
df_power.drop(['ghg_category'], axis = 1, inplace = True)

In [19]:
df_power.head()

,geo_ref,units,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022
5038,AK,Tg,1.886156,1.725139,1.692703,1.828449,2.005956,2.088990,2.305279,2.177986,...,1.799266,1.690387,1.597243,1.491222,1.531734,1.339731,1.290724,1.210769,1.347975,1.418687
5039,AL,Tg,2.292818,3.776103,6.093362,4.681794,6.351400,5.691288,7.921531,9.601294,...,17.980699,18.766907,21.668666,22.482480,20.709844,23.412121,22.743135,21.596648,21.255723,24.750271
5040,AR,Tg,1.866064,1.427203,2.281129,3.078229,2.188287,2.665252,3.864529,3.450012,...,5.071630,3.917970,5.975739,7.343288,6.882659,8.234771,8.624436,7.332320,8.111039,10.270091
5041,AZ,Tg,5.152613,6.959445,7.829811,9.078168,12.975025,11.779689,13.398110,15.145023,...,12.087724,11.184688,13.624119,13.969540,12.291224,15.659017,19.420796,21.132277,19.511881,18.438597
5042,CA,Tg,48.182003,52.697839,39.265850,38.195994,41.992881,37.506949,42.104930,45.515319,...,44.946404,45.394964,44.052050,36.381611,32.821647,33.562892,31.030342,33.586423,35.259332,35.303053

In [20]:
territories = ['DC', 'AS', 'GU', 'MP', 'PR', 'VI', "UM"]  # List of territories and DC
cleaned_states = np.array([state for state in df['geo_ref'].unique() if state not in territories])
# Filter the DataFrame to include only rows where 'geo_ref' matches any of the cleaned_states
df_power = df_power[df_power['geo_ref'].isin(cleaned_states)]

In [21]:
df_power.head()

,geo_ref,units,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022
5038,AK,Tg,1.886156,1.725139,1.692703,1.828449,2.005956,2.088990,2.305279,2.177986,...,1.799266,1.690387,1.597243,1.491222,1.531734,1.339731,1.290724,1.210769,1.347975,1.418687
5039,AL,Tg,2.292818,3.776103,6.093362,4.681794,6.351400,5.691288,7.921531,9.601294,...,17.980699,18.766907,21.668666,22.482480,20.709844,23.412121,22.743135,21.596648,21.255723,24.750271
5040,AR,Tg,1.866064,1.427203,2.281129,3.078229,2.188287,2.665252,3.864529,3.450012,...,5.071630,3.917970,5.975739,7.343288,6.882659,8.234771,8.624436,7.332320,8.111039,10.270091
5041,AZ,Tg,5.152613,6.959445,7.829811,9.078168,12.975025,11.779689,13.398110,15.145023,...,12.087724,11.184688,13.624119,13.969540,12.291224,15.659017,19.420796,21.132277,19.511881,18.438597
5042,CA,Tg,48.182003,52.697839,39.265850,38.195994,41.992881,37.506949,42.104930,45.515319,...,44.946404,45.394964,44.052050,36.381611,32.821647,33.562892,31.030342,33.586423,35.259332,35.303053

In [22]:
df_power.shape

(450, 25)

In [23]:
df_power['geo_ref'].nunique()

50

In [24]:
df_power[df_power['geo_ref']=='CA']

,geo_ref,units,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022
5042,CA,Tg,48.182003,52.697839,39.265850,38.195994,41.992881,37.506949,42.104930,45.515319,...,44.946404,45.394964,44.052050,36.381611,32.821647,33.562892,31.030342,33.586423,35.259332,35.303053
5093,CA,Tg,2.473291,2.796065,2.177815,2.348884,2.130017,2.362544,2.172071,2.157462,...,0.054304,0.053075,0.028900,0.027873,0.029046,0.028091,0.029127,0.026677,0.029014,0.025003
5320,CA,Tg,0.310744,0.385419,0.467403,0.458173,0.443390,0.382712,0.361835,0.370009,...,0.417438,0.415307,0.420538,0.402968,0.371766,0.335526,0.315279,0.318962,0.289281,0.310129
5466,CA,Tg,0.009237,0.008297,0.010015,0.012205,0.012428,0.012579,0.007365,0.005576,...,0.003196,0.004410,0.004996,0.005161,0.006050,0.005218,0.005280,0.005389,0.005433,0.006730
5523,CA,Tg,0.105957,0.150407,0.166277,0.115766,0.111378,0.177679,0.122579,0.188543,...,0.377033,0.425651,0.439543,0.369169,0.334868,0.132999,0.190225,0.176632,0.182769,0.333309
5580,CA,Tg,0.124037,0.094713,0.101413,0.085430,0.201886,0.158305,0.267242,0.116195,...,0.137903,0.174256,0.173861,0.154834,0.146027,0.166829,0.174416,0.203281,0.163215,0.125356
5637,CA,Tg,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5694,CA,Tg,0.032625,0.029507,0.026749,0.011577,0.009500,0.031864,0.043748,0.087252,...,0.070011,0.084835,0.049894,0.058746,0.046126,0.075119,0.074155,0.058559,0.060536,0.049979
5751,CA,Tg,0.079357,0.081826,0.080756,0.078745,0.077946,0.077966,0.075945,0.074884,...,0.066309,0.068403,0.064451,0.064805,0.063288,0.063788,0.061554,0.056481,0.057094,0.057468

In [25]:
#Units is in Teragram
#Teragram to Tonnes = 
# 1000000 Tonnes  = 1 teragrams
#We need the data to be in metric tons, so we divide by 100 
#So, 1 Ton = 1000000
# 1 metric ton = 1000000/100
#  = 100000
scaled_columns = list(df_power.columns)[2:]

In [26]:
df_power[scaled_columns] = df_power[scaled_columns]*10000

/var/folders/5_/tlmb9g4s2z11wzblchsd9zpc0000gn/T/ipykernel_2365/1020068375.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_power[scaled_columns] = df_power[scaled_columns]*10000

In [27]:
df_power.columns

Index(['geo_ref', 'units', 'Y2000', 'Y2001', 'Y2002', 'Y2003', 'Y2004',
       'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009', 'Y2010', 'Y2011', 'Y2012',
       'Y2013', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018', 'Y2019', 'Y2020',
       'Y2021', 'Y2022'],
      dtype='object')

In [28]:
# Selecting only numeric columns for mean calculation
df_numeric = df_power.select_dtypes(include=['number'])

# Including 'geo_ref' for grouping
df_power_summed = df_power[['geo_ref']].join(df_numeric).groupby('geo_ref').sum().reset_index()

In [29]:
df_power_summed

,geo_ref,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022
0,AK,24599.742499,25146.668070,24853.108490,25081.108929,26265.718132,27167.228698,29484.885371,27347.139880,27237.865488,...,21669.092366,20592.811014,19926.725185,19179.051829,19824.284131,17560.796113,17265.839519,17075.936215,17736.356404,18368.784290
1,AL,26495.959876,41645.172337,64120.096180,50068.573077,65505.101238,59161.074245,81388.243950,98020.262102,91529.973522,...,181568.932068,189756.651177,218560.161035,226403.792667,208585.615417,235952.046459,228795.264220,217260.536818,213878.977966,249040.397744
2,AR,21039.968191,21754.534082,24878.846565,33653.870624,26594.703785,29092.627756,40894.739029,36054.393329,36287.654744,...,52182.697808,40702.837013,61493.735551,74926.409168,70261.620917,83404.872203,87513.430099,74624.336802,82389.662204,104270.894348
3,AZ,53685.598721,72930.599098,79130.693289,91483.480580,130522.514462,118492.258598,134980.478423,152202.985988,154957.934945,...,121736.699580,112904.287905,137200.592392,140616.476603,123829.134922,157340.507759,195134.321015,212049.010884,195854.719168,185104.741746
4,CA,513172.518736,562440.729214,422962.783088,413067.735433,449794.264508,407105.993515,451557.160207,485152.387342,493254.905711,...,460725.985760,466209.007825,452342.329459,374651.657687,338188.187374,343704.616398,318803.772834,344324.042176,360466.740481,362110.281893
5,CO,36119.091952,48736.432103,42191.319731,42699.032973,45975.511139,50820.425139,51262.023937,67782.942199,58259.337965,...,50150.370543,54404.272921,53022.954957,55861.456646,56144.326091,73005.115829,77008.752587,81292.713077,67161.040217,72389.567923
6,CT,82210.940381,64907.165770,59977.843270,46460.940376,53376.043740,67990.103711,62801.720103,61701.835048,47611.471758,...,71579.573731,69403.834846,78614.767831,78046.929738,69924.077711,84965.544047,87349.966211,95806.112459,98077.430000,100511.486214
7,DE,9808.731846,19487.389007,15239.627359,16645.454108,12049.550383,13184.603557,6200.868644,8960.978529,6988.578947,...,23358.516334,26520.229576,25797.973270,30293.486069,24914.073895,21441.445984,15624.122479,16229.412020,13367.956539,18325.745259
8,FL,499491.592128,544902.458479,582393.999607,623022.648494,648261.490406,677966.998321,623001.309842,610730.305237,562465.998831,...,610896.640583,607402.277803,677643.371171,697725.262762,685611.218566,734090.669725,757985.928971,784367.795705,753619.010309,795277.841328
9,GA,31966.172818,23801.010871,34992.036149,22779.509705,28986.131928,44655.586211,55954.986627,70264.156605,55409.557466,...,152946.181808,160754.528571,196927.462887,209420.560912,204398.053045,206384.995437,233605.432298,234411.490719,221493.735612,238913.102098
10,HI,66244.247079,65069.469907,69964.146954,62484.947379,65449.814024,66473.422637,67868.229848,67046.537103,64798.203790,...,56168.481841,53399.986183,53612.518247,51895.273236,51633.100901,52442.972122,52887.220294,49114.777061,48559.473076,53502.899095
11,IA,3377.964925,3841.187457,3284.116810,3162.929787,5293.803260,11719.087904,11740.039954,16192.057467,10572.588719,...,7166.473994,6283.555644,9051.411824,11720.798655,15885.523583,25426.721202,25866.311206,23954.018788,23638.618152,30312.360360
12,ID,2215.437495,7004.437821,2756.521160,6128.323831,7893.607815,7738.328698,7011.267621,8414.958392,8121.231278,...,15494.250409,12355.399534,17239.867502,14604.867457,13194.444253,14212.871379,18511.328182,18001.549593,21498.774879,19493.460435
13,IL,31798.019593,39797.154776,46034.546105,28005.697988,24489.979494,35200.609369,25039.822465,35467.751876,20322.923639,...,29471.686375,24590.749784,46386.230323,79462.135824,77340.292201,75746.244379,93542.378720,126481.293941,93809.918609,79230.392610
14,IN,20115.362519,17080.822943,29054.140468,22584.549681,19607.648602,24660.259869,19289.073462,24255.102499,23044.282621,...,59193.816114,60975.988614,86951.643424,105461.628009,78324.941994,113174.984786,128038.568162,133407.170185,119233.473604,134080.232877
15,KS,22007.302675,18237.651055,15986.629848,15840.772737,13537.236361,16665.735638,13058.491920,16806.535123,16574.579683,...,13530.999388,11032.671307,9104.267768,11960.272159,12220.515367,16284.754286,16339.122606,14189.562312,14132.240650,17877.749356
16,KY,4113.599776,3889.345702,51939.208751,39174.027113,45778.939727,52799.993026,46725.893822,43445.571751,38954.031133,...,24234.280428,28251.650698,40651.212962,50647.839046,51216.148092,63443.554391,63580.695730,58175.813111,60671.726925,76402.294594
17,LA,189090.905029,168197.568202,196814.141654,159373.854822,169420.048197,190994.210886,130552.684917,147817.274131,152973.771885,...,194992.215158,197533.510052,231100.435031,232555.079515,202638.608930,211336.447257,223272.837985,232382.462158,216631.199452,233275.643884
18,MA,128079.255872,130359.519989,131937.425135,160368.265803,150985.594231,146727.974727,127555.927960,140435.488813,117328.438339,...,103399.838803,96323.047740,106691.020738,103128.392068,105437.966092,90879.511870,76439.897519,71125.623324,75319.154506,82295.826189
19,MD,42806.881716,42945.532116,39284.922805,42006.581827,39585.515910,48328.208582,23233.147208,27160.521130,20405.401961,...,23262.276453,23471.530544,31371.333977,36574.518406,36191.384662,62634.762037,60707.540366,59957.535256,61861.499603,60801.485267
20,ME,34734.841523,55991.024373,56637.196532,45918.162092,43228.054767,36755.960708,27302.004482,26108.807756,25715.228470,...,16394.239418,18476.566769,17149.383787,16238.872299,11566.780201,11473.057387,7728.435726,7858.799611,13068.187523,18117.423162
21,MI,84315.880623,83735.246419,94479.125105,68959.190488,84135.561524,83158.116162,68755.580674,78243.136678,59901.843455,...,70161.941462,78540.892473,106590.752531,148865.987814,136230.784415,161362.212932,167833.145801,181448.782615,156697.404837,201622.243384
22,MN,19630.486187,19307.746548,20461.737024,23831.373292,19966.913863,27272.739721,25101.353972,29689.848167,22997.203561,...,34527.476554,24587.314895,37211.082405,44092.527215,34661.961742,43168.812525,55762.820717,55205.055223,60063.508530,43836.020093
23,MO,19278.093482,26508.280426,22205.301077,13798.195600,15848.624136,19627.498257,18771.256545,23272.976572,24157.965358,...,21290.243956,20546.923403,22380.450651,29743.116065,26638.520016,35565.285421,38236.142700,38189.079691,32167.977286,43530.533069
24,MS,76971.647731,121349.465301,89720.597296,65529.520211,80648.539256,86467.290496,80526.421211,103981.838943,92096.008401,...,127209.431983,129830.403934,181726.622461,201421.338450,186600.735346,200296.248081,197294.638645,213801.481303,192755.933624,206705.399023
25,MT,8837.046862,9002.034503,7944.355595,7667.356065,8195.160000,7714.414927,8039.825950,8061.678694,7271.717558,...,12049.527040,10513.155122,12306.993430,11173.097695,10885.770407,10269.076681,10718.256658,9854.061904,11169.544769,11994.365771
26,NC,13078.719199,13658.120677,21689.802384,13500.149584,14967.894223,17595.112982,18228.299028,24677.541070,22073.946235,...,109437.198290,114693.662372,151069.394140,162872.291274,154746.804158,184852.181818,167113.037597,166977.600190,198961.036315,255207.526999
27,ND,625.427028,503.342307,535.667856,660.947521,653.274681,616.612460,727.033915,772.945476,655.818826,...,932.282865,1790.614681,4179.928292,6523.291849,4374.910170,5764.581525,8507.588876,8820.943052,8764.284193,7901.648327
28,NE,3617.573003,2722.605569,2891.045216,2983.528953,2108.495683,4705.399362,4536.258846,6389.402696,4324.242571,...,3132.248594,2976.762642,2711.197546,3556.332035,3735.426554,5436.741582,7184.355716,6460.873757,7082.833134,7639.381457
29,NH,5830.706981,5964.786087,7865.609525,34283.095049,38558.854828,37908.061223,28379.056148,27048.659688,30323.689401,...,19546.387583,21523.767122,27007.971838,20926.480108,16920.230344,14811.648407,15969.607186,16392.789502,19769.086255,22303.064767
30,NJ,88881.666613,85475.896440,95817.449930,84801.528109,90497.614956,81771.753401,82054.319556,97130.430309,102832.823687,...,129866.633501,148390.850582,166760.372821,189933.323355,161051.164299,166882.404072,169779.521193,132911.944141,130103.992458,146825.601166
31,NM,26799.766140,27649.760299,22082.506998,22003.957475,19057.298487,24576.868610,32643.003103,35711.428051,39539.048724,...,44556.713102,46413.664803,47150.357821,48781.622482,44926.632106,56336.910909,61760.401439,56881.176124,47232.696068,51880.531753
32,NV,67680.594555,70360.454697,61071.410000,64416.449895,77239.397512,83216.147538,93197.309718,95747.852318,101644.231271,...,102020.977254,94225.280839,118413.567096,117892.853615,110249.946259,111603.766387,108703.645177,113973.564954,110208.472212,105662.883842
33,NY,337973.700139,341432.161856,306892.279486,315110.433075,332103.699941,372592.430678,282747.267742,303924.644036,262687.470601,...,273128.506938,278954.148009,288701.168756,280342.453280,232647.595456,255187.137323,227912.432176,251214.761301,266575.531922,289687.652046
34,OH,10223.538277,10427.462151,16614.483602,15116.923205,25642.926125,30676.800368,27661.485790,33244.643316,27525.132936,...,107407.543894,113350.823487,134323.600962,135196.440233,130715.814293,199583.984206,215924.325400,226907.762158,233846.623536,283465.012551
35,OK,98177.534887,96938.006591,106215.049239,109156.234452,111455.722069,134117.198034,153426.793069,158285.166330,155496.883105,...,138187.626996,116623.230637,143536.045496,156296.248425,128099.655373,179709.339029,192666.752420,190795.113949,146366.375158,158567.109067
36,OR,39254.608301,46584.720734,31451.074682,41840.831627,49308.446772,49029.346400,42262.175188,56931.982077,64381.189509,...,56967.807157,50778.518720,64219.944623,60585.923664,59472.213137,69967.813110,81370.989569,73900.122928,83464.890418,75411.511957
37,PA,55692.912691,51406.868939,60566.115047,69825.865766,86945.327133,97913.558283,77840.424842,103406.316005,98548.354935,...,218583.460874,235299.579138,262003.305403,293426.991974,305649.565010,314991.852048,384527.606485,469950.723516,481617.065552,500802.212858
38,RI,26665.506140,32080.615540,29323.798253,22942.303135,19667.450241,23977.577561,23411.713848,28174.200057,28882.891025,...,25773.885009,25015.776246,27967.693268,25812.756574,28090.265652,31704.697612,28192.393774,31917.034215,33846.971182,27909.335802
39,SC,9874.353256,10364.921463,24120.189158,11828.608585,25093.170023,30593.148404,30713.415626,31241.170230,28179.993336,...,52242.858700,50294.520770,76467.238095,74176.054864,75304.579188,97160.321759,100447.919760,100881.480640,98190.176592,105372.545486
40,SD,2629.681672,2994.812935,836.304154,1419.279876,1220.028820,2242.343688,1988.119130,2978.993621,1715.995737,...,2458.985304,2394.822792,3751.243754,4347.105009,3407.526404,5376.332409,5489.483679,5244.082465,6865.322752,7024.363536
41,TN,10801.916604,8016.551608,4843.168908,7673.937881,3365.427570,5648.273112,5926.709863,6238.915490,5017.049687,...,21956.286701,27160.446804,39512.511079,48806.687166,42166.996613,56243.939156,64783.515870,57326.169429,54057.901318,67757.245593
42,TX,883711.376098,848861.700150,858128.111796,808498.012209,775467.676316,817760.045028,816215.810216,814242.826621,793534.632303,...,776710.816767,778881.973624,891592.737931,840047.014928,750876.371741,896230.505853,970058.299766,941266.369337,882611.958920,977765.826109
43,UT,7092.678634,9624.713313,9404.344275,8664.525429,6027.213098,7931.204854,17683.330994,32417.193114,32006.350334,...,28182.791817,33110.474524,31929.462733,33735.692288,23297.802174,34035.753403,37830.415457,37656.210044,42550.637495,45035.073521
44,VA,44886.533215,61930.436451,54394.933886,68883.739569,70463.227504,74670.543583,49494.355493,75093.261941,61652.354098,...,106297.631455,106713.151916,153925.130111,178028.913639,181457.877313,213792.545221,237801.261782,259363.409537,222200.237876,204222.903738
45,VT,2226.253951,1447.427021,1200.527249,1110.663070,1279.857988,1236.785693,1289.769515,1198.200943,1044.353016,...,1462.998918,1675.486177,1595.823097,1433.703994,1342.671813,985.333173,1105.087705,1110.878792,1054.843478,1312.735407
46,WA,46010.583562,51986.793362,24675.460070,33593.569705,37863.883685,37612.366308,34594.508010,33555.016145,43036.069589,...,50008.904693,49376.313074,57316.873715,49011.199219,48407.680775,46101.214780,63044.292493,56544.206079,66508.894645,57864.973912
47,WI,14660.319325,15003.454078,13564.198394,16083.882099,18161.944023,38295.638745,32661.984571,38957.028263,30887.528349,...,34799.998767,35000.616652,56423.354500,66490.725246,60240.681833,72064.522900,82324.280938,89161.144747,86500.874527,98087.881280
48,WV,2785.026852,3823.010629,3595.275364,3476.869990,3428.480798,3480.309106,3870.047423,4254.025018,2691.168303,...,3710.475241,6037.561105,9597.075796,7641.861069,7686.472075,7983.784277,10998.172676,13706.736885,13057.305922,11577.289824
49,WY,1651.085044,2169.802237,2552.061721,1956.797040,1072.286861,1100.238493,1310.526085,1890.589723,1332.399924,...,813.374067,1144.945324,1388.805618,1543.320712,1442.677765,1720.605528,2525.956712,3889.472368,5273.396018,6422.989256

In [30]:
df_power_summed.head(10)

,geo_ref,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022
0,AK,24599.742499,25146.668070,24853.108490,25081.108929,26265.718132,27167.228698,29484.885371,27347.139880,27237.865488,...,21669.092366,20592.811014,19926.725185,19179.051829,19824.284131,17560.796113,17265.839519,17075.936215,17736.356404,18368.784290
1,AL,26495.959876,41645.172337,64120.096180,50068.573077,65505.101238,59161.074245,81388.243950,98020.262102,91529.973522,...,181568.932068,189756.651177,218560.161035,226403.792667,208585.615417,235952.046459,228795.264220,217260.536818,213878.977966,249040.397744
2,AR,21039.968191,21754.534082,24878.846565,33653.870624,26594.703785,29092.627756,40894.739029,36054.393329,36287.654744,...,52182.697808,40702.837013,61493.735551,74926.409168,70261.620917,83404.872203,87513.430099,74624.336802,82389.662204,104270.894348
3,AZ,53685.598721,72930.599098,79130.693289,91483.480580,130522.514462,118492.258598,134980.478423,152202.985988,154957.934945,...,121736.699580,112904.287905,137200.592392,140616.476603,123829.134922,157340.507759,195134.321015,212049.010884,195854.719168,185104.741746
4,CA,513172.518736,562440.729214,422962.783088,413067.735433,449794.264508,407105.993515,451557.160207,485152.387342,493254.905711,...,460725.985760,466209.007825,452342.329459,374651.657687,338188.187374,343704.616398,318803.772834,344324.042176,360466.740481,362110.281893
5,CO,36119.091952,48736.432103,42191.319731,42699.032973,45975.511139,50820.425139,51262.023937,67782.942199,58259.337965,...,50150.370543,54404.272921,53022.954957,55861.456646,56144.326091,73005.115829,77008.752587,81292.713077,67161.040217,72389.567923
6,CT,82210.940381,64907.165770,59977.843270,46460.940376,53376.043740,67990.103711,62801.720103,61701.835048,47611.471758,...,71579.573731,69403.834846,78614.767831,78046.929738,69924.077711,84965.544047,87349.966211,95806.112459,98077.430000,100511.486214
7,DE,9808.731846,19487.389007,15239.627359,16645.454108,12049.550383,13184.603557,6200.868644,8960.978529,6988.578947,...,23358.516334,26520.229576,25797.973270,30293.486069,24914.073895,21441.445984,15624.122479,16229.412020,13367.956539,18325.745259
8,FL,499491.592128,544902.458479,582393.999607,623022.648494,648261.490406,677966.998321,623001.309842,610730.305237,562465.998831,...,610896.640583,607402.277803,677643.371171,697725.262762,685611.218566,734090.669725,757985.928971,784367.795705,753619.010309,795277.841328
9,GA,31966.172818,23801.010871,34992.036149,22779.509705,28986.131928,44655.586211,55954.986627,70264.156605,55409.557466,...,152946.181808,160754.528571,196927.462887,209420.560912,204398.053045,206384.995437,233605.432298,234411.490719,221493.735612,238913.102098

In [64]:
df_power_summed.to_csv("ElectricityX3.csv", index = False)

## Conversion of Electricity Power usage to Carbon emissions

From https://www.epa.gov/energy/greenhouse-gases-equivalencies-calculator-calculations-and-references, we have the conversion of Energy used in KWh to Carbon emissions to be: 

$$\text{COâ‚‚ emissions (metric tons)} = \text{Power consumption (kWh)} \times \text{COâ‚‚ intensity (kg COâ‚‚ per kWh)} \div 1000$$

So say, In 2017, California used about 3,200 Kwh of power, We have the equivalent carbon emissions to be: 
We're gonna use US average of 0.42kg CO2/KWh

In [32]:
Avg_E_Ca_Res = 3200
Carbon =3200 * 0.42* Avg_E_Ca_Res / 100
print(Carbon)

43008.0

## Preparing the Transportation Dataset

In [33]:
df.head()

,econ_sector,econ_subsector,sector,subsector,category,sub_category_1,sub_category_2,sub_category_3,sub_category_4,sub_category_5,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022
0,Agriculture,Carbon Dioxide from Fossil Fuel Combustion,Agriculture,Fossil Fuel Combustion,Agriculture,Mobile Non-Highway Farm Equipment,NaN,NaN,NaN,NaN,...,0.021973,0.020588,0.003934,0.004712,0.003303,0.004553,0.003750,0.004008,0.004094,0.004039
1,Agriculture,Carbon Dioxide from Fossil Fuel Combustion,Agriculture,Fossil Fuel Combustion,Agriculture,Mobile Non-Highway Farm Equipment,NaN,NaN,NaN,NaN,...,0.405321,0.340277,0.299993,0.389063,0.319967,0.376200,0.386687,0.345480,0.352673,0.347956
2,Agriculture,Carbon Dioxide from Fossil Fuel Combustion,Agriculture,Fossil Fuel Combustion,Agriculture,Mobile Non-Highway Farm Equipment,NaN,NaN,NaN,NaN,...,1.488775,1.333660,1.203423,1.228332,0.916704,1.130034,1.070653,1.032991,1.052542,1.038465
3,Agriculture,Carbon Dioxide from Fossil Fuel Combustion,Agriculture,Fossil Fuel Combustion,Agriculture,Mobile Non-Highway Farm Equipment,NaN,NaN,NaN,NaN,...,0.582441,0.598184,0.449419,0.566802,0.490579,0.400804,0.437455,0.392028,0.398905,0.393570
4,Agriculture,Carbon Dioxide from Fossil Fuel Combustion,Agriculture,Fossil Fuel Combustion,Agriculture,Mobile Non-Highway Farm Equipment,NaN,NaN,NaN,NaN,...,4.009574,4.711127,4.518359,3.914111,3.825177,3.540273,3.216634,3.076691,3.134478,3.092556

In [34]:
df_transport = df[df['econ_sector']=='Transportation']

In [35]:
df_transport.head()

,econ_sector,econ_subsector,sector,subsector,category,sub_category_1,sub_category_2,sub_category_3,sub_category_4,sub_category_5,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022
24625,Transportation,Carbon Dioxide from Fossil Fuel Combustion,Energy,Fossil Fuel Combustion,Transportation,NaN,NaN,NaN,NaN,NaN,...,0.029348,0.017790,0.033005,0.023987,0.018413,0.029148,0.018902,0.020194,0.025774,0.024251
24626,Transportation,Carbon Dioxide from Fossil Fuel Combustion,Energy,Fossil Fuel Combustion,Transportation,NaN,NaN,NaN,NaN,NaN,...,1.203484,1.033463,1.181484,1.160783,1.156004,1.384289,1.304103,1.389795,1.371223,1.627106
24627,Transportation,Carbon Dioxide from Fossil Fuel Combustion,Energy,Fossil Fuel Combustion,Transportation,NaN,NaN,NaN,NaN,NaN,...,0.619012,0.625241,0.471244,0.442281,0.363827,0.392889,0.416222,0.332726,0.282083,0.308896
24628,Transportation,Carbon Dioxide from Fossil Fuel Combustion,Energy,Fossil Fuel Combustion,Transportation,NaN,NaN,NaN,NaN,NaN,...,0.780003,0.853609,0.959992,0.890321,0.784264,0.769643,0.957083,1.004046,1.023697,0.988776
24629,Transportation,Carbon Dioxide from Fossil Fuel Combustion,Energy,Fossil Fuel Combustion,Transportation,NaN,NaN,NaN,NaN,NaN,...,1.336769,2.092107,1.941653,2.253674,2.422961,2.401399,2.660730,2.313065,2.572688,2.703600

In [36]:
df_transport.columns

Index(['econ_sector', 'econ_subsector', 'sector', 'subsector', 'category',
       'sub_category_1', 'sub_category_2', 'sub_category_3', 'sub_category_4',
       'sub_category_5', 'carbon_pool', 'fuel1', 'fuel2', 'geo_ref', 'units',
       'ghg', 'ghg_category', 'gwp', 'Y1990', 'Y1991', 'Y1992', 'Y1993',
       'Y1994', 'Y1995', 'Y1996', 'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001',
       'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009',
       'Y2010', 'Y2011', 'Y2012', 'Y2013', 'Y2014', 'Y2015', 'Y2016', 'Y2017',
       'Y2018', 'Y2019', 'Y2020', 'Y2021', 'Y2022'],
      dtype='object')

In [37]:
used_columns = ['geo_ref', 'units', 'ghg_category','Y2000', 'Y2001',
       'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009',
       'Y2010', 'Y2011', 'Y2012', 'Y2013', 'Y2014', 'Y2015', 'Y2016', 'Y2017',
       'Y2018', 'Y2019', 'Y2020', 'Y2021', 'Y2022']

In [38]:
df_transport = df_transport[used_columns]

In [39]:
df_transport.head()

,geo_ref,units,ghg_category,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022
24625,AK,Tg,CO2,0.400893,0.273337,0.233077,0.217186,0.202927,0.141042,0.151503,...,0.029348,0.017790,0.033005,0.023987,0.018413,0.029148,0.018902,0.020194,0.025774,0.024251
24626,AL,Tg,CO2,1.253909,1.101862,1.193254,1.037890,0.869937,0.824870,0.814238,...,1.203484,1.033463,1.181484,1.160783,1.156004,1.384289,1.304103,1.389795,1.371223,1.627106
24627,AR,Tg,CO2,0.477632,0.474561,0.433882,0.465815,0.425776,0.478378,0.579793,...,0.619012,0.625241,0.471244,0.442281,0.363827,0.392889,0.416222,0.332726,0.282083,0.308896
24628,AZ,Tg,CO2,1.146687,1.236402,1.143093,1.040806,0.926894,1.053183,1.217418,...,0.780003,0.853609,0.959992,0.890321,0.784264,0.769643,0.957083,1.004046,1.023697,0.988776
24629,CA,Tg,CO2,0.610046,0.736402,0.671365,0.653785,0.908350,1.093034,0.914359,...,1.336769,2.092107,1.941653,2.253674,2.422961,2.401399,2.660730,2.313065,2.572688,2.703600

In [40]:
df_transport.shape

(923, 26)

In [41]:
df_transport = df_transport[df_transport['ghg_category'] == 'CO2']

In [42]:
df_transport.head()

,geo_ref,units,ghg_category,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022
24625,AK,Tg,CO2,0.400893,0.273337,0.233077,0.217186,0.202927,0.141042,0.151503,...,0.029348,0.017790,0.033005,0.023987,0.018413,0.029148,0.018902,0.020194,0.025774,0.024251
24626,AL,Tg,CO2,1.253909,1.101862,1.193254,1.037890,0.869937,0.824870,0.814238,...,1.203484,1.033463,1.181484,1.160783,1.156004,1.384289,1.304103,1.389795,1.371223,1.627106
24627,AR,Tg,CO2,0.477632,0.474561,0.433882,0.465815,0.425776,0.478378,0.579793,...,0.619012,0.625241,0.471244,0.442281,0.363827,0.392889,0.416222,0.332726,0.282083,0.308896
24628,AZ,Tg,CO2,1.146687,1.236402,1.143093,1.040806,0.926894,1.053183,1.217418,...,0.780003,0.853609,0.959992,0.890321,0.784264,0.769643,0.957083,1.004046,1.023697,0.988776
24629,CA,Tg,CO2,0.610046,0.736402,0.671365,0.653785,0.908350,1.093034,0.914359,...,1.336769,2.092107,1.941653,2.253674,2.422961,2.401399,2.660730,2.313065,2.572688,2.703600

In [43]:
territories = ['DC', 'AS', 'GU', 'MP', 'PR', 'VI', "UM"]  # List of territories and DC
cleaned_states = np.array([state for state in df['geo_ref'].unique() if state not in territories])
# Filter the DataFrame to include only rows where 'geo_ref' matches any of the cleaned_states
df_transport = df_transport[df_transport['geo_ref'].isin(cleaned_states)]

In [44]:
df_transport.shape

(200, 26)

In [45]:
df_transport['geo_ref'].nunique() ## 50 States confirned

50

In [46]:
df_transport[df_transport['geo_ref'] == 'CA']

,geo_ref,units,ghg_category,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022
24629,CA,Tg,CO2,0.610046,0.736402,0.671365,0.653785,0.908350,1.093034,0.914359,...,1.336769,2.092107,1.941653,2.253674,2.422961,2.401399,2.660730,2.313065,2.572688,2.703600
24680,CA,Tg,CO2,197.128881,193.005409,202.846047,198.788396,204.839511,206.803902,206.527275,...,168.751090,170.800609,172.746498,180.703071,185.169107,186.678853,188.017248,146.182186,166.060336,164.837480
25445,CA,Tg,CO2,1.193688,1.093665,1.080750,0.999157,1.012207,1.006960,0.981063,...,0.928731,0.950726,1.048732,0.979650,0.910704,0.875389,0.856622,0.704536,0.767630,0.792317
25497,CA,Tg,CO2,6.068174,6.729548,7.014270,7.219277,7.434585,7.541409,7.625336,...,5.649518,5.355577,5.103214,4.774172,4.430118,4.243182,4.043655,3.832679,3.643467,3.426209

In [47]:
scaled_columns = list(df_transport.columns)[2:]

In [48]:
df_transport[scaled_columns] = df_transport[scaled_columns]*10000

In [49]:
df_transport.head()

,geo_ref,units,ghg_category,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022
24625,AK,Tg,CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2C...,4008.932701,2733.368236,2330.773567,2171.859144,2029.270212,1410.418198,1515.032805,...,293.481027,177.901137,330.049928,239.870567,184.129210,291.479478,189.023426,201.940560,257.740754,242.511037
24626,AL,Tg,CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2C...,12539.094717,11018.624601,11932.541512,10378.899142,8699.370132,8248.697197,8142.376235,...,12034.841110,10334.630754,11814.838402,11607.833374,11560.043339,13842.894686,13041.027978,13897.951137,13712.232391,16271.057824
24627,AR,Tg,CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2C...,4776.319158,4745.608364,4338.816473,4658.150044,4257.758595,4783.778645,5797.934334,...,6190.118777,6252.406735,4712.438111,4422.811706,3638.266572,3928.889439,4162.221719,3327.261486,2820.829366,3088.964438
24628,AZ,Tg,CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2C...,11466.870604,12364.020804,11430.928891,10408.062290,9268.943363,10531.828193,12174.181957,...,7800.026433,8536.087209,9599.918677,8903.213481,7842.638138,7696.433613,9570.833201,10040.463520,10236.974855,9887.764022
24629,CA,Tg,CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2CO2C...,6100.457722,7364.021861,6713.647022,6537.847472,9083.500916,10930.344104,9143.587725,...,13367.689962,20921.068162,19416.531475,22536.737941,24229.610258,24013.994354,26607.297522,23130.652415,25726.875987,27036.000719

In [50]:
# Selecting only numeric columns for mean calculation
df_numeric = df_transport.select_dtypes(include=['number'])

# Including 'geo_ref' for grouping
df_transport_summed = df_transport[['geo_ref']].join(df_numeric).groupby('geo_ref').sum().reset_index()

In [51]:
df_transport_summed.head()

,geo_ref,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022
0,AK,1.178271e+05,1.137176e+05,1.153227e+05,1.178483e+05,1.449014e+05,1.477483e+05,1.465571e+05,1.383850e+05,1.225676e+05,...,7.628505e+04,8.385466e+04,7.937248e+04,7.615872e+04,7.853489e+04,7.348001e+04,7.666399e+04,8.000608e+04,9.558740e+04,8.921377e+04
1,AL,3.360378e+05,3.176086e+05,3.317577e+05,3.298430e+05,3.371032e+05,3.394532e+05,3.402410e+05,3.493371e+05,3.220562e+05,...,3.084111e+05,3.147140e+05,3.205292e+05,3.389411e+05,3.284883e+05,3.297339e+05,3.339089e+05,3.345518e+05,3.790674e+05,3.714408e+05
2,AR,2.187680e+05,2.043943e+05,2.031847e+05,2.080033e+05,2.041600e+05,2.083805e+05,2.101369e+05,2.131791e+05,2.007509e+05,...,1.888133e+05,1.961357e+05,1.900899e+05,1.975085e+05,1.988597e+05,2.008420e+05,2.013023e+05,1.900446e+05,2.026584e+05,1.987275e+05
3,AZ,3.387912e+05,3.486178e+05,3.615944e+05,3.700482e+05,3.739082e+05,3.884429e+05,3.944030e+05,3.894469e+05,3.623392e+05,...,3.396604e+05,3.526344e+05,3.596881e+05,3.692661e+05,3.721143e+05,3.823318e+05,3.897198e+05,3.540505e+05,3.971044e+05,3.909637e+05
4,CA,2.050008e+06,2.015650e+06,2.116124e+06,2.076606e+06,2.141947e+06,2.164453e+06,2.160480e+06,2.176503e+06,2.015525e+06,...,1.766661e+06,1.791990e+06,1.808401e+06,1.887106e+06,1.929329e+06,1.941988e+06,1.955783e+06,1.530325e+06,1.730441e+06,1.717596e+06

In [65]:
df_transport_summed.to_csv("TransportX2.csv", index = False)

## Equivalence of Miles travelled to emissions


$$\text{COâ‚‚ emissions (g/mile)} = \text{Fuel emission factor} \times \text{Fuel consumption per mile}$$
Common emission factors in grams of COâ‚‚ per mile (gCOâ‚‚/mi) are:

1. Passenger car: ~404 gCOâ‚‚/mi 
2. Light-duty trucks (e.g., SUVs): ~500 gCOâ‚‚/mi 
3. Heavy-duty trucks: ~1000 gCOâ‚‚/mi
4. Airplane (short-haul flights): ~250 gCOâ‚‚/mi (per passenger)


$$\text{Total COâ‚‚ (g)} = \text{Miles traveled} \times \text{COâ‚‚ emission factor (g/mile)}$$

$$\text{Total COâ‚‚ (metric tons)} = \frac{\text{Total COâ‚‚ (g)}}{1,000,000}$$

So we get user input in terms of distance travelled, and we convert it Total Co2

In [56]:
#We will assume that the mode of transportation is the average of Car and Airplane 

average_emission_factor = 327  # gCOâ‚‚/mi
Miles_travelled = 12500 # average in california in a year
Co2 = Miles_travelled * average_emission_factor / 1000000
print(Co2)

4.0875

## Preparing the Afforestation Dataset

In [57]:
df_agriculture = df[df['econ_sector']=='Agriculture']

In [58]:
df_agriculture.columns

Index(['econ_sector', 'econ_subsector', 'sector', 'subsector', 'category',
       'sub_category_1', 'sub_category_2', 'sub_category_3', 'sub_category_4',
       'sub_category_5', 'carbon_pool', 'fuel1', 'fuel2', 'geo_ref', 'units',
       'ghg', 'ghg_category', 'gwp', 'Y1990', 'Y1991', 'Y1992', 'Y1993',
       'Y1994', 'Y1995', 'Y1996', 'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001',
       'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009',
       'Y2010', 'Y2011', 'Y2012', 'Y2013', 'Y2014', 'Y2015', 'Y2016', 'Y2017',
       'Y2018', 'Y2019', 'Y2020', 'Y2021', 'Y2022'],
      dtype='object')

In [59]:
used_columns = ['geo_ref', 'units', 'ghg_category','Y2000', 'Y2001',
       'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009',
       'Y2010', 'Y2011', 'Y2012', 'Y2013', 'Y2014', 'Y2015', 'Y2016', 'Y2017',
       'Y2018', 'Y2019', 'Y2020', 'Y2021', 'Y2022']
df_agriculture = df_agriculture[used_columns]
df_agriculture = df_agriculture[df_agriculture['ghg_category'] == 'CO2']
territories = ['DC', 'AS', 'GU', 'MP', 'PR', 'VI', "UM"]  # List of territories and DC
cleaned_states = np.array([state for state in df['geo_ref'].unique() if state not in territories])
# Filter the DataFrame to include only rows where 'geo_ref' matches any of the cleaned_states
df_agriculture = df_agriculture[df_agriculture['geo_ref'].isin(cleaned_states)]
scaled_columns = list(df_agriculture.columns)[2:]
df_agriculture[scaled_columns] = df_agriculture[scaled_columns]*10000
# Selecting only numeric columns for mean calculation
df_numeric = df_agriculture.select_dtypes(include=['number'])

# Including 'geo_ref' for grouping
df_agriculture_summed = df_agriculture[['geo_ref']].join(df_numeric).groupby('geo_ref').sum().reset_index()

In [60]:
df_agriculture_summed.head(5)

,geo_ref,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022
0,AK,82.553551,121.064942,129.459545,147.475771,168.156260,164.087343,176.432884,85.561138,74.214451,...,258.322836,243.806930,76.946740,85.187162,71.155044,83.101956,74.948904,77.404586,78.142020,77.472089
1,AL,4428.585499,4464.941322,4194.708958,5392.310733,7736.615247,6892.941366,7108.604376,7281.647593,8648.342752,...,4686.990825,3469.871222,3068.451897,3963.716605,3274.474801,3836.366883,3942.666076,3532.022566,3605.384692,3559.645613
2,AR,14964.245534,16198.511824,16889.715893,24916.105835,27366.307292,32788.590767,33639.496990,31404.684795,28472.148125,...,17358.823137,16036.484628,14980.542355,14695.638539,11126.821526,13686.408319,13064.400420,12659.581339,12826.883673,12657.911240
3,AZ,2901.994222,3733.347091,4133.992637,2620.559642,2462.963527,2726.944855,2994.379955,2789.801956,3992.503531,...,5868.716422,6034.466324,4570.995581,5738.738886,4978.328204,4097.863501,4472.296950,4025.944096,4102.640268,4057.213752
4,CA,43191.988301,42268.751901,40985.075096,37247.673582,46227.222301,45716.041634,50821.203062,38071.301025,41722.723135,...,42794.125134,49131.402983,46073.764738,40427.528032,38949.325186,36031.232989,32731.023666,31770.594704,31981.399430,31572.066096

In [66]:
df_agriculture_summed.to_csv("AgricultureX1.csv", index = False)

## Combining the three datasets to form a single one for our model

In [67]:
X1 = pd.read_csv("AgricultureX1.csv")
X2  = pd.read_csv("TransportX2.csv")
X3 = pd.read_csv("ElectricityX3.csv")

,geo_ref,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022
0,AK,82.553551,121.064942,129.459545,147.475771,168.156260,164.087343,176.432884,85.561138,74.214451,...,258.322836,243.806930,76.946740,85.187162,71.155044,83.101956,74.948904,77.404586,78.142020,77.472089
1,AL,4428.585499,4464.941322,4194.708958,5392.310733,7736.615247,6892.941366,7108.604376,7281.647593,8648.342752,...,4686.990825,3469.871222,3068.451897,3963.716605,3274.474801,3836.366883,3942.666076,3532.022566,3605.384692,3559.645613
2,AR,14964.245534,16198.511824,16889.715893,24916.105835,27366.307292,32788.590767,33639.496990,31404.684795,28472.148125,...,17358.823137,16036.484628,14980.542355,14695.638539,11126.821526,13686.408319,13064.400420,12659.581339,12826.883673,12657.911240
3,AZ,2901.994222,3733.347091,4133.992637,2620.559642,2462.963527,2726.944855,2994.379955,2789.801956,3992.503531,...,5868.716422,6034.466324,4570.995581,5738.738886,4978.328204,4097.863501,4472.296950,4025.944096,4102.640268,4057.213752
4,CA,43191.988301,42268.751901,40985.075096,37247.673582,46227.222301,45716.041634,50821.203062,38071.301025,41722.723135,...,42794.125134,49131.402983,46073.764738,40427.528032,38949.325186,36031.232989,32731.023666,31770.594704,31981.399430,31572.066096

In [69]:
X1.columns

Index(['geo_ref', 'Y2000', 'Y2001', 'Y2002', 'Y2003', 'Y2004', 'Y2005',
       'Y2006', 'Y2007', 'Y2008', 'Y2009', 'Y2010', 'Y2011', 'Y2012', 'Y2013',
       'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018', 'Y2019', 'Y2020', 'Y2021',
       'Y2022'],
      dtype='object')

In [70]:

# Add a new column to each dataset indicating its category
X1['Category'] = 'Agriculture'
X2['Category'] = 'Transport'
X3['Category'] = 'Electricity'

# Merge the datasets together (you can choose inner or outer join as needed)
df_combined = pd.concat([X1, X2, X3], ignore_index=True)

In [71]:
df_combined.head(5)

,geo_ref,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,...,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022,Category
0,AK,82.553551,121.064942,129.459545,147.475771,168.156260,164.087343,176.432884,85.561138,74.214451,...,243.806930,76.946740,85.187162,71.155044,83.101956,74.948904,77.404586,78.142020,77.472089,Agriculture
1,AL,4428.585499,4464.941322,4194.708958,5392.310733,7736.615247,6892.941366,7108.604376,7281.647593,8648.342752,...,3469.871222,3068.451897,3963.716605,3274.474801,3836.366883,3942.666076,3532.022566,3605.384692,3559.645613,Agriculture
2,AR,14964.245534,16198.511824,16889.715893,24916.105835,27366.307292,32788.590767,33639.496990,31404.684795,28472.148125,...,16036.484628,14980.542355,14695.638539,11126.821526,13686.408319,13064.400420,12659.581339,12826.883673,12657.911240,Agriculture
3,AZ,2901.994222,3733.347091,4133.992637,2620.559642,2462.963527,2726.944855,2994.379955,2789.801956,3992.503531,...,6034.466324,4570.995581,5738.738886,4978.328204,4097.863501,4472.296950,4025.944096,4102.640268,4057.213752,Agriculture
4,CA,43191.988301,42268.751901,40985.075096,37247.673582,46227.222301,45716.041634,50821.203062,38071.301025,41722.723135,...,49131.402983,46073.764738,40427.528032,38949.325186,36031.232989,32731.023666,31770.594704,31981.399430,31572.066096,Agriculture

In [72]:
df_combined.shape

(150, 25)

In [74]:
df_combined.to_csv("Train_data.csv", index = False)